@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
 padding: 0; 
 box-sizing: border-box;
 font-family: 'Poppins',sans-serif;
 }
body{
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #333;
}
.container .forms{
display:flex;
align-items: center;
height: 300px;
width: 200px;
transition: heigt o.2s ease;
}
.container .form{
 width:50px;
 padding: 30px;
 background-color: white;
 transition: margin-left 0.18s ease; 
}
.container.active .login{
 margin-left: -50%;
 opacity: 0;
 transition: margin-left 0.18s ease, opacity 0.15s ease;
}
.container .active .forms{
 height: 600px;
}
.container .forms .title{
 position:relative;
 font-size: 27px;
 font-weight: 600px;
}
.form .title::before{
 content:'';
 position: absolute;
 left:0;
 bottom: 0;
 height: 3px;
 width:30px;
 background-color: black;
 border-radius: 25px;
}
.form .input-field{
 position: relative;
 height: 50px;
 width: 100%;
 margin-top: 30px;
}
.input-field input{
 position: relative;
 height: 100%;
 width: 100%;
 padding: 0 35px;
 border: none;
 outline: none;
 font-size: 16px;
 border-bottom: 2px solid #ccc;
 border-top:2px solid transparent ;
 transition: all 0.2s ease;
}
.input-fieldinput:focus{
border-bottom-color: #02030f;
}
.input-field i{
 position: absolute;
 top: 50%;
 transform:translateY(-50%);
 color:#999;
 font-size:23px;
 transition: all 0.2s ease;
}
.input-field input:focus i {
 color: #02030f;
}
.input-field i.showhidepw{
 right:0 ;
 cursor: pointer;
 padding: 10px;
}
.input-field i.icon{
 left: 0
}
.form.checkbox-text{
 display:flex;
 align-items:center;
 justify-content: space-between;
 margin-top: 20px;
}
.checkbox-text .checkbox.content{
 display: flex;
 align-items: center;
}